header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;

}

.desc{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0 1rem;
}

.container{
    background-color: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

.avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 8px;
    outline: 2px solid var(--green-500);
    border: 2px solid transparent;
}

.lastime{
    color: var(--gray-400);
    font-size: 0.875rem;
}

.name {
    color: var(--white);
}

.cargo{
    color: var(--gray-400);
    font-size: 0.875rem;
}

.content p {
     margin-top: 1rem;
}

.content a {
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
    transition: all 0.2s;
}

.content a:hover{
    color: var(--green-300);
}

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
}

.commentForm > Form {
    line-height: 1.6rem;
    color: var(--gray-100);
}

.commentForm  textarea {
    width: 100%;
    background: var(--gray-900);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
    margin-top: 1rem;
}

.commentForm button {
    margin-top: 1rem;
    padding: 1rem 1.5rem ;
    border-radius: 8px;
    border: 0;
    background-color: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}

.commentForm > button:not(:disabled):hover {
    background-color: var(--green-300);
}

.commentForm button:disabled {
    opacity: 0.7;
}